<div class="main">
  <div class="operations">
    <mat-tab-group dynamicHeight [tabIndex]="tabIndex">
      <mat-tab label="Show images">
        <form class="imageForm" [formGroup]="imageSubmitForm">
          <mat-form-field>
            <mat-label>Image count</mat-label>
            <input matInput type="number" [formControl]="imageSubmitForm.controls.count">
          </mat-form-field>
          <mat-form-field>
            <mat-select [formControl]="imageSubmitForm.controls.imageType">
              <mat-label>Select image type</mat-label>
              <mat-option value="raw">Raw</mat-option>
              <mat-option value="processed">Processed</mat-option>
              <mat-option value="both">Both</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button type="submit" (click)="submit()" [disabled]="imageSubmitForm.invalid">Submit</button>
        </form>
      </mat-tab>
      <mat-tab label="Upload image"></mat-tab>
      <mat-tab label="Classify image"></mat-tab>
      <mat-tab label="Get classified image"></mat-tab>
    </mat-tab-group>
  </div>
  <div class="responses">
    <ng-container *ngIf="tabIndex == 0 && images.length > 0">
      <app-image-slider [images]="images"></app-image-slider>
    </ng-container>
    <ng-container *ngIf="tabIndex == 0 && images.length < 1">
      <p>No images have been retrieved yet.</p>
    </ng-container>
  </div>

</div>
